
  <form (ngSubmit)="addmsg()">
  <label for="name">名稱: </label>
  <input type="text" name="name" [(ngModel)]="name"><br>
  <label for="content">內容: </label>
  <input type="text" name="content" [(ngModel)]="content"><br>
  <button type="submit">新增留言</button>
</form>
  <ng-container *ngFor="let message of messages">
  <p>留言人:{{message.name}}</p>
  <p>訊息內容:{{message.content}}</p>
  <p>時間:{{ message.date | date: 'yyyy/MM/dd HH:mm:ss' }}</p>
  </ng-container>

